:root {
    --primary-color: #683FEA;
    --background-color: #121212;
    --text-color: #ffffff;
    --card-background: rgba(30, 30, 30, 0.582);
}

@media (max-width: 600px) {
    .settings {
        flex-direction: column;
        align-items: flex-start;
    }

    .settings label {
        margin-bottom: 5px;
    }

    .settings input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }


    .timer-setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .timer-setting label {
        flex: 1;
        margin-right: 10px;
    }

    .timer-setting input {
        flex: 0 0 80px; 
    }
    .container {
        padding: 10px;
    }

    .timer-container {
        width: 200px;
        height: 200px;
    }

    .timer {
        font-size: 36px;
    }

    .controls button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .settings {
        flex-wrap: wrap;
    }

    .settings input {
        width: 40px;
    }

    table {
        font-size: 12px;
    }

    th, td {
        padding: 8px;
    }

}

body {
font-family: 'Cairo', 'Roboto', sans-serif;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start; 
min-height: 100vh;
height: auto; 
margin: 0;
background-color: var(--background-color);
color: var(--text-color);
background-image: url('../Media/pattern.svg');
background-color: black;
background-repeat: no-repeat;
background-position: center top;
background-size: auto 80%;
background-attachment: fixed;
position: relative;
overflow: auto;
margin-bottom: 50px;
}

.timer-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}
.timer-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.timer-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(from 0deg, var(--primary-color) var(--progress), transparent var(--progress));
    opacity: 0.6;
    filter: blur(10px);
    transition: 0.5s linear;
}
.timer-progress::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 0deg, var(--primary-color) var(--progress), transparent var(--progress));
    opacity: 0.4;
    filter: blur(20px);
}
.mode {
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    z-index: 1;
}
.timer {
    font-size: 54px;
    font-weight: bold;
    z-index: 1;
}

.clear-data {
margin-top: 20px;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: rgb(20, 20, 20);
border: none;
font-weight: 600;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
cursor: pointer;
transition-duration: .3s;
overflow: hidden;
position: relative;
}

.svgIcon {
width: 12px;
transition-duration: .3s;
}

.svgIcon path {
fill: white;
}

.clear-data:hover {
width: 140px;
border-radius: 50px;
transition-duration: .3s;
background-color: #683FEA;
align-items: center;
}

.clear-data:hover .svgIcon {
width: 50px;
transition-duration: .3s;
transform: translateY(60%);
}

.clear-data::before {
position: absolute;
top: -20px;
content: "Delete";
color: white;
transition-duration: .3s;
font-size: 2px;
}

.clear-data:hover::before {
font-size: 13px;
opacity: 1;
transform: translateY(30px);
transition-duration: .3s;
}
.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.controls button{
    background-color: var(--card-background);
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.controls button:hover{
    background: linear-gradient(0deg, #CE9FFF, #683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3),
    inset 0px -3px 0px 0px rgba(0, 0, 0, 0.30),
    0px 0px 0px 3px #CE9FFF,
    0px 0px 50px 0px #9917FF;
    transform: translateY(-3px);
}
.study-timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #f2f2f2;
    text-shadow: 0 0 10px #fff, 0 0 20px #ccc, 0 0 30px #999, 0 0 40px #666, 0 0 50px #333;
    z-index: 1;
}
.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap; 
}

.settings label {
    margin-right: 10px;
}

.settings input {
    width: 60px;
    padding: 8px;
    margin-right: 20px;
    background-color: var(--card-background);
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    border-radius: 4px;
}
.notes-container {
    width: 100%;
    margin-bottom: 10px;
}
.notes-input {
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: var(--card-background);
    border: none;
    color: var(--text-color);
    border-radius: 8px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}
.notes-input:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 40px black;
}
.notes-input:hover {
    background-color: rgba(30, 30, 30, 0.8);
}
.save-notes {
margin: 0 auto;
display: block; 
border: none;
width: 13em;
height: 4em;
border-radius: 3em;
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
background: #1C1A1C;
cursor: pointer;
transition: all 450ms ease-in-out;
}

.sparkle {
fill: #AAAAAA;
transition: all 800ms ease;
}

.text-save-notes {
font-weight: 600;
color: #AAAAAA;
font-size: medium;
}

.save-notes:hover {
background: linear-gradient(0deg, #A47CF3, #683FEA);
box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3),
inset 0px -3px 0px 0px rgba(0, 0, 0, 0.30), 
0px 0px 0px 3px rgba(255, 255, 255, 0.30),
0px 0px 50px 0px #9917FF; 
transform: translateY(-3px); 
}


.save-notes:hover .text-save-notes {
color: white;
}

.save-notes:hover .sparkle {
fill: white;
transform: scale(1.2);
} 
table {
    width: 100%;
    table-layout: fixed; 
    border-collapse: separate;
    border-spacing: 0;
    background-color: var(--card-background);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
    .notes-container, .table-container {
        flex-grow: 1;
        min-height: auto;
        overflow: visible; 
    }


    .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    padding-bottom: 50px;
    flex-grow: 1; 
    }


    th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
th {
    background-color: rgba(255, 255, 255, 0.1);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
tr:last-child td {
    border-bottom: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-background);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 20px;
    transition: 0.1;
    
}
.nav-bar a{
    text-decoration: none;
}

.nav-item {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}



/*   -------------Animation --------------         */

@keyframes fadeInPattern2 {
    0% { opacity: 0; }
    100% { opacity: 0.3; }
}


.bg-animation {
    animation: fadeInPattern2 3s ease-in-out forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff;
    -webkit-animation: animStar 50s linear infinite;
    -moz-animation: animStar 50s linear infinite;
    -ms-animation: animStar 50s linear infinite;
    animation: animStar 50s linear infinite;
}

#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,

}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
    -webkit-animation: animStar 100s linear infinite;
    -moz-animation: animStar 100s linear infinite;
    -ms-animation: animStar 100s linear infinite;
    animation: animStar 100s linear infinite;
}

#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
   box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
    -webkit-animation: animStar 150s linear infinite;
    -moz-animation: animStar 150s linear infinite;
    -ms-animation: animStar 150s linear infinite;
    animation: animStar 150s linear infinite;
}
    
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
}
#stars4 {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
    -webkit-animation: animStar 600s linear infinite;
    -moz-animation: animStar 600s linear infinite;
    -ms-animation: animStar 600s linear infinite;
    animation: animStar 600s linear infinite;
}

#stars4:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 117px 1613px #ffffff, 1488px 635px #ffffff, 944px 914px #ffffff, 647px 277px #ffffff, 1792px 1205px #ffffff, 656px 1517px #ffffff, 820px 1839px #ffffff, 1153px 1400px #ffffff, 870px 13px #ffffff, 550px 702px #ffffff, 1155px 1056px #ffffff, 88px 1709px #ffffff, 1450px 1090px #ffffff, 1929px 457px #ffffff, 1390px 905px #ffffff, 1771px 269px #ffffff, 1741px 669px #ffffff, 432px 64px #ffffff, 563px 996px #ffffff, 1918px 1873px #ffffff, 1845px 1211px #ffffff, 231px 1503px #ffffff, 37px 220px #ffffff, 1970px 495px #ffffff, 1812px 925px #ffffff, 67px 1398px #ffffff, 535px 279px #ffffff, 1837px 829px #ffffff, 1945px 685px #ffffff, 1677px 1817px #ffffff, 1317px 1415px #ffffff, 1785px 905px #ffffff, 1787px 1554px #ffffff, 802px 1296px #ffffff, 512px 1101px #ffffff, 583px 1364px #ffffff, 336px 558px #ffffff, 979px 334px #ffffff, 106px 792px #ffffff, 204px 34px #ffffff, 1845px 1763px #ffffff, 445px 1599px #ffffff, 386px 453px #ffffff, 471px 952px #ffffff, 1466px 1676px #ffffff, 1885px 303px #ffffff, 51px 1717px #ffffff, 1211px 299px #ffffff, 1546px 1887px #ffffff, 1067px 33px #ffffff, 1088px 1326px #ffffff, 1938px 760px #ffffff, 470px 648px #ffffff, 1213px 269px #ffffff, 1767px 78px #ffffff, 977px 976px #ffffff, 1926px 175px #ffffff, 722px 1512px #ffffff, 945px 227px #ffffff, 1811px 99px #ffffff, 1912px 1406px #ffffff, 1602px 1243px #ffffff, 610px 449px #ffffff, 654px 1393px #ffffff, 1930px 1193px #ffffff, 258px 1184px #ffffff, 89px 265px #ffffff, 824px 1494px #ffffff, 1506px 1435px #ffffff, 1027px 753px #ffffff, 1px 1197px #ffffff, 530px 1161px #ffffff, 864px 1555px #ffffff, 1610px 1604px #ffffff, 1035px 1114px #ffffff, 1456px 133px #ffffff, 1196px 1253px #ffffff, 361px 1037px #ffffff, 834px 351px #ffffff, 436px 1676px #ffffff, 1194px 1007px #ffffff, 1141px 647px #ffffff, 319px 454px #ffffff, 937px 1769px #ffffff, 1872px 1013px #ffffff, 733px 643px #ffffff, 1250px 511px #ffffff, 189px 296px #ffffff, 1639px 163px #ffffff, 1584px 336px #ffffff, 1912px 1343px #ffffff, 1298px 1307px #ffffff, 1750px 902px #ffffff, 1129px 845px #ffffff, 1899px 1470px #ffffff, 1427px 232px #ffffff, 1391px 838px #ffffff, 1225px 1819px #ffffff, 190px 1366px #ffffff, 1865px 518px #ffffff, 203px 1383px #ffffff, 1455px 614px #ffffff, 423px 354px #ffffff, 1678px 1790px #ffffff, 241px 608px #ffffff, 1089px 730px #ffffff, 1342px 38px #ffffff, 1848px 249px #ffffff, 1874px 1785px #ffffff, 1040px 1837px #ffffff, 751px 261px #ffffff, 510px 1975px #ffffff, 52px 795px #ffffff, 1786px 1310px #ffffff, 498px 712px #ffffff, 190px 375px #ffffff, 1341px 722px #ffffff, 43px 1394px #ffffff, 1821px 1687px #ffffff, 106px 130px #ffffff, 1717px 1978px #ffffff, 168px 151px #ffffff, 183px 740px #ffffff, 945px 1381px #ffffff, 669px 1170px #ffffff, 1285px 1816px #ffffff, 110px 1217px #ffffff, 1623px 813px #ffffff, 869px 647px #ffffff, 867px 582px #ffffff, 735px 1240px #ffffff, 519px 1896px #ffffff, 132px 156px #ffffff, 1649px 193px #ffffff, 241px 1109px #ffffff, 643px 484px #ffffff, 574px 1282px #ffffff, 1952px 564px #ffffff, 1978px 145px #ffffff, 329px 903px #ffffff, 1674px 617px #ffffff, 1978px 558px #ffffff, 1808px 1715px #ffffff, 1526px 1238px #ffffff, 475px 1330px #ffffff, 810px 425px #ffffff, 1709px 634px #ffffff, 1658px 336px #ffffff, 425px 194px #ffffff, 352px 96px #ffffff, 148px 180px #ffffff, 1139px 1046px #ffffff,;
}

@-webkit-keyframes animStar {
    from {
        -webkit-transform: translateY(0px);
    }
    to {
        -webkit-transform: translateY(-2000px);
    }
}

@-moz-keyframes animStar {
    from {
        -moz-transform: translateY(0px);
    }
    to {
        -moz-transform: translateY(-2000px);
    }
}

@-ms-keyframes animStar {
    from {
        -ms-transform: translateY(0px);
    }
    to {
        -ms-transform: translateY(-2000px);
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
