@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Press+Start+2P&display=swap');

:root {
    --background-color: #121212;
    --surface-color: #1E1E1E;
    --on-surface-color: #FFFFFF;
    --error-color: #CF6679;
    --url-color: #FF6B6B;
    --base64-color: #4ECDC4;
    --utf8-color: #45B7D1;
    --wtf8-color: #F7B267;
    --bacon-color: #6B5B95;
}

@keyframes fadeInPattern {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

body {
    background-color: var(--background-color);
    color: var(--on-surface-color);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
}

#code-text{
  margin-top: 8rem;
}

h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to bottom, #FFFFFF, #C0C0C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.selected-cipher {
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
    color: var(--on-surface-color);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 30px;
}

.cipher-button {
    padding: 12px 24px;
    font-size: 0.9em;
    color: var(--on-surface-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.cipher-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cipher-button.active {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.details {
    display: none;
}

.details.active {
    display: block;
}

.input-input {
    width: 100%;
    height: 120px;
    padding: 15px;
    background-color: #121212a2;
    border: none;
    color: var(--on-surface-color);
    border-radius: 20px;
    resize: vertical;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    margin-bottom: 15px;
}

.input-input:focus {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 40px black;
}

.input-input:hover {
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.534);
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-group button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.button-group button:hover {
    opacity: 0.8;
}

#shift {
    width: 100%;
    max-width: 150px;
    padding: 8px;
    font-size: 1em;
    background-color: var(--background-color);
    color: var(--on-surface-color);
    border: 1px solid var(--on-surface-color);
    border-radius: 4px;
    margin-bottom: 15px;
}

.result {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 4px;
    word-break: break-all;
    font-size: 1.2em;
}

.result.hidden {
    display: none;
}

.pattern-bg {
    animation: fadeInPattern 3s ease-in-out forwards;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Media/pattern.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.8em;
    }
    
    .cipher-button {
        font-size: 0.8em;
        padding: 10px 15px;
    }
    
    .selected-cipher {
        font-size: 1.2em;
    }
    
    .input-input {
        font-size: 14px;
    }
    
    .button-group button {
        font-size: 0.9em;
        padding: 8px 15px;
    }
    .nav-bar {
      font-size: 13px;
    }
}

/* ----------------Btn style---------------- */


    .url-button {
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid rgb(61, 106, 255);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: transparent;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
      }
      
      .url-button:hover {
        background: rgb(61, 106, 255);
        box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
      }
      
      .url-button:hover::before {
        -webkit-animation: sh02 0.5s 0s linear;
        -moz-animation: sh02 0.5s 0s linear;
        animation: sh02 0.5s 0s linear;
      }
      
      .url-button::before {
        content: '';
        display: block;
        width: 0px;
        height: 86%;
        position: absolute;
        top: 7%;
        left: 0%;
        opacity: 0;
        background: #fff;
        box-shadow: 0 0 50px 30px #fff;
        -webkit-transform: skewX(-20deg);
        -moz-transform: skewX(-20deg);
        -ms-transform: skewX(-20deg);
        -o-transform: skewX(-20deg);
        transform: skewX(-20deg);
      }
      
      @keyframes sh02 {
        from {
          opacity: 0;
          left: 0%;
        }
      
        50% {
          opacity: 1;
        }
      
        to {
          opacity: 0;
          left: 100%;
        }
      }
      
      .url-button:active {
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: box-shadow 0.2s ease-in;
        -moz-transition: box-shadow 0.2s ease-in;
        transition: box-shadow 0.2s ease-in;
      }


/* -------------End Url btn------------- */
.base64-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(168, 61, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .base64-button:hover {
    background: rgb(168, 61, 255);
    box-shadow: 0 0 30px 5px rgba(161, 0, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .base64-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .base64-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .base64-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


/* -------------End Bse64 btn------------- */


.utf8-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 252, 61);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .utf8-button:hover {
    background: rgb(255, 210, 61);
    box-shadow: 0 0 30px 5px rgba(236, 220, 0, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .utf8-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .utf8-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .utf8-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }



/* -------------End Bse64 btn------------- */

.wtf8-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(67, 255, 61);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .wtf8-button:hover {
    background: rgb(116, 255, 61);
    box-shadow: 0 0 30px 5px rgba(94, 236, 0, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .wtf8-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .wtf8-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .wtf8-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


/* -------------End Bse64 btn------------- */


.bacon-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(255, 61, 61);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .bacon-button:hover {
    background: rgb(255, 61, 61);
    box-shadow: 0 0 30px 5px rgba(236, 0, 0, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .bacon-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .bacon-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  .bacon-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }




/* ---------------------- Nav Bar ---------------------- */
.nav-bar {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  padding: 10px 20px;
  border-radius: 25px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  width: auto;
  max-width: 90%;
}

.nav-item {
  color: white;
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-item i {
  display: none;
  font-size: 24px;
}

@media (max-width: 740px) {
  .nav-bar {
    padding: 8px 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-item {
    padding: 10px;
    margin: 5px;
  }

  .nav-item i {
    display: block;
    font-size: 15px;
  }

  .nav-item span {
    display: none;
  }
}
